html { 
  background: url(../assets/landingpage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Jost', sans-serif;
}

body {
    width: 100%;
    margin: 0px;
    padding-top: 1rem;
}

html, body {
    position:relative;
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6, label, a {
  font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    margin: auto;
    z-index: 4;
    margin-left: 1rem;
}

.nav-logo {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    margin-left: .5rem;
}

.nav-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-link {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: gray;
}

@media only screen and (max-width: 767px) {
    .nav-bar-wrapper {
        width: 91%;
        margin-left: 0rem;
    }

    .nav-link-wrapper {
        justify-content: space-evenly;
    }
}